#app, header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-size: 20px;
}

.main-title {
  font-size: 50px;
}

header {
  border-bottom: 2px solid grey; /* Adjust the px value to the desired thickness */
}

.fixed-curve {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Prevents scroll on overflow */
  z-index: -1; /* Ensures it doesn't overlap content */
}

.curve-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Stretch the image to cover the full width */
  min-height: 100%; /* Minimum height to cover the viewport */
  object-fit: cover; /* Preserve aspect ratio while filling the element's entire content box */
}